@charset "UTF-8";

/* 
Paleta de cores
rosa: #ff0f7b
laranja: #f89b29 
*/

:root{
    --cor01:#55753e;
    --cor02:#34c1c3;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient( to bottom, var(--cor01), var(--cor02));
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    margin: auto;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: white;
    padding: 20px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.448);
    max-width: 600px;
}

#login{
    text-align: top;
}

#login > div > h1{
    text-align: center;
}

#login > div > p{
    width: 300px;
    text-indent: 10px;
}

#imagem > img{
    width: 260px;
    padding-left:0px;
}

 main > section > div{
    display: inline-block;
 }


