@charset "UTF-8";
@media screen and (min-width: 700px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to top, #5f2c82, #5bc6c3 );
    }

    #login{
        width: 90vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        
    }

    #imagem > img{
    width: 40vw;
    height: 60vh;
    padding-left:0.1px;
    margin-top: 24px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    }


#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; 
    
}

    #formulario> h1{
       margin: auto;
     }

     #login > div > p {
        padding: 0px;
     }

    /* #login > div > form {
      display: flex;
      flex-direction: column;
      width: 100%;
      
    } */
 
/* 
 #login > div > form > input {
    width: 89%;
    display: flex;
    flex-direction: row; */
 }

 .isenha, .inome{
    width: 100%;
    margin: 3%;
 }   


input{
    width: 89%;
}

a {
    width: 89%;
}  

.botao {
    margin-top: 9%;
    margin-bottom: 3%;
}




@media screen and (min-width: 993px) and (max-width: 1200px) {
    body{
        background-image: linear-gradient(to top, #5f2c82, #5bc6c3 );
    }

    #login{
        width: 80vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        
    }

    #imagem > img{
    width: 35vw;
    height: 60vh;
    padding-left:0.1px;
    margin-top: 24px;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  
    }

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
}

    #formulario> h1{
       margin: auto;
     }

 
     #login > div > p{ 
        margin: auto;
        display: flex;
    }

   /*  #login > div > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      
    }
 

 #login > div > form > input {
    width: 100%;
    display: flex;
    flex-direction: row;
 } */
 .isenha, .inome{
    width: 100%;
    margin: 3%;
 }   


input{
    width: 89%;
}

a {
    width: 89%;
}  

.botao {
    margin-top: 9%;
    margin-bottom: 3%;
}

}

@media screen and (min-width: 1200px)  {

    body{
        background-image: linear-gradient(to top, #5f2c82, #5bc6c3 );
    }
    
    #login{
        width: 70vw;
        height: 60vh;
      
        display: flex;
        flex-direction: column;
    }

    #imagem > img{
    width: 35vw;
    height: 60vh;
    object-fit: cover;
    padding-left:0.1px;
    margin-top: 24px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    }

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
}

    #formulario> h1{
       margin: auto;
       font-size: 30px;
     
      
     }

 
     #login > div > p{ 
        margin: auto;
        display: flex;
    }
/* 
    #login > div > form {
      display: flex;
      flex-direction: column;
      width: 85%;
      
    }
 

 #login > div > form > input {
    width: 100%;
    display: flex;
    flex-direction: row;
 } */

 .isenha, .inome{
    width: 80%;
    margin: 3%;
 } 
 
 .forme{
    display: flex;
    flex-direction: column;
    align-items: center;
 }


input{
   width: 90%;
}

a {
    margin: auto;
    width: 80%;
}  

.botao {
    width: 80%;
    margin-top: 9%;
    margin-bottom: 3%;
}
}


    
