@charset "UTF-8";

/* 
Paleta de cores
rosa: #ff0f7b
laranja: #f89b29 
*/

:root{
    --cor01:#5bc6c3;
    --cor02:#5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor02);
    width: 100vw;
    height: 100vh;
}

main{
    margin: 0px;
    width: 100vw;
    height: 100vh;
   /*  margin: auto;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 20px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.448); */
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


#login{
  padding-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 580px;
  margin: auto;
 /*  width: 80vw; */ 
  
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#login > div > h1{
   text-align: center;
   padding-bottom: 10px;
 
}

#login > div > p{
    width: 250px;
    padding:10px ;
   /*  margin: auto;
    display: flex; */ 
}
 

#login > div > form {
    width: 220px;
    margin: auto;


    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#login > div > form > input {
    padding: 10px;
    border-radius: 8px;
  /*   border: 2px solid var(--cor02); */
}

.botao {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--cor01);
}

#login > div > form > a {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.359);
    margin-top: 10px;
    border-radius: 8px;
    color:var(--cor01);
}
#imagem > img {
    height: 180px;
     border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    /* height: 35vh;
    width: 80vw;
    */
}

/* 
 #formulario{
    display: flex;
    flex-direction: column;
 } */



